
.mainTodo input{
    margin-top: 15px;
    background-color: rgb(255, 255, 255);
    border: 0; 
    color: rgb(36, 35, 35);
    width: 200px;
    height: 50px;
    margin: 20px;
    padding: 0 20px;
    font-size: 18px;
    border-radius: 10px;
}

.mainTodo .btn3{
    height: 50px;
    width: 80px;
    border-radius: 5px;
    border: 0;
    background-color:rgb(66, 196, 109); 
    cursor: pointer;
    color: rgb(255, 254, 254);
    font-size: 20px;
  }
  span{
      
      font-size: 50px;
      color: rgb(245, 243, 240);
  }
  .mainTodo .check {
    margin-top: 15px;
    background-color: rgb(255, 255, 255);
    border: 0; 
    color: rgb(36, 35, 35);
    width: 15px;
    height: 10px;
    margin: 0px;
    padding: 0 20px;
    font-size: 18px;
    border-radius: 10px;
}
